@model WebServiceForAirport.Models.Airport
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Веб сервис для Аэропортов</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Code Airport Start:@Html.TextBoxFor(a=>a.CodeAirport)</p>
        <p>Code Airport Destination: @Html.TextBoxFor(a=>a.CodeAirport)</p>
       <input type="submit" value="Create Route-Match" width="50"/>
    }
</body>
</html>
